body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    padding-bottom: 0.25em;
}

body {
    color: #4d4b4b;
    padding: 1em;
}

.date-text {
    font-style: italic;
    color: #999;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    color: #999;
    line-height: 16px;
    float: right;
}

#about .flex-item {
    color: #4d4b4b;
    padding: 1em;
    vertical-align: middle;
}

i {
    font-size: 2em;
}

#skills-h3 {
    font-weight: bold;
}

p {
    color: #333;
    line-height: 21px;
    font-family: "Roboto", sans-serif;
}

a {
    color: #1199c3;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.welcome-message {
    font-size: 1.25em;
    color: #f3f3f3;
    line-height: 28px;
}

.role:after {
    content: ' ';
    display: block;
    width: 1em;
    margin: 0px auto 20px 0;
    border: 2px solid #fff;
}

.footer {
    margin-top: 60px;
    padding: 0px;
}

.role {
    margin-top: 1em;
    font-size: 5em;
}

.box {
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.09);
    border-radius: 0.375rem;
}

.box h2 {
    font-size: 2em;
}

.gray {
    background-color: #f3f3f3;
    padding-bottom: 10px;
    border-radius: 0.375rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hero::before {
    content: '';
    width: 100%;
    height: 650px;
    z-index: -1000;
    background: #4568DC;
 /* fallback for old browsers */
    background: -webkit-linear-gradient(170deg, #4568DC, #B06AB3);
 /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(170deg, #4568DC , #B06AB3);
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform-origin: left bottom;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(0deg, -10deg);
}

#headerwrapper {
    height: 440px;
    color: white;
}

#menus .active {
    background: #4568DC;
    color: white;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}

.center-content {
    padding: 2.5% 5%;
}

ul {
    list-style-type: none;
}

.biopic {
    padding: 10px;
    width: 295px;
    height: auto;
}

span {
    padding: 5px;
}

#map {
    display: block;
    height: 100%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}


/* Small only */
@media screen and (max-width: 39.9375em) {
    .description {
        padding-bottom: 1em;
    }

    .column, .columns {
        padding: .825rem;
    }

    .role {
        margin-top: 1em;
        font-size: 3em;
    }

    #headerwrapper {
        height: 350px;
        color: white;
    };
}
/* Medium and up */
@media print, screen and (min-width: 40em) {
    h1 {
        font-size: 1.5rem;
    }

    .column, .columns {
        padding: 1.875rem;
    };
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}

/* Large and up */
@media screen and (min-width: 64em) {
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}
